<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register page</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css"/>
</head>
<body>
<from action="/register/" method="POST" class="">
    {% for field in user_form %}
    <div class="fieldWrapper">
        {{ field.label_tag }}{{ field }}
        {{ field.errors }}
    {% endfor %}
    </div>
<div class="fieldWrapper">
    <p><input type="submit" value="submit"></p>
</div>
</from>
</body>
<script src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</html>